<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p>
    <button type="button" class="btn btn-primary" id="login">Login</button>
    <button type="button" class="btn btn-primary" id="register">Register</button>
    <div>
        <ul id="msgDiv">
        </ul>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="./javascripts/indexscripts.js"></script>

</html>