<!DOCTYPE html>
<html>

<head>
    <title>Leagues</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>Leagues</h1>
    <div>
        <ul id="leaguesList">
        </ul>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/javascripts/leaguesscript.js"></script>

</html>